@model IndexModel

<h1> @Model.Game.CurrentMenu.Title </h1>
@foreach (var menuItem in Model.Game.CurrentMenu.MenuItems)
{
    if (!Model.HiddenMenuItemIds.Contains(menuItem.Id))    //Only render menu items that change menu
    {
        <form asp-page-handler="changeMenu" method="post">
            <input type="hidden" name="shortCut" value="@menuItem.Shortcut"/>
            <input type="submit" value="@menuItem.Description"/>
        </form>
    }
}

